
<div id="admin-backend" class="container" ng-cloak>
	<h3>admin section</h3>

	<div class="ui grid">
		<div class="four wide column">
			<div class="ui vertical fluid tabular menu">
				<a class="active item">
				overview
				</a>
				<a class="item">
				file sources
				</a>
				<a class="item">
				taggers
				</a>
				<a class="item">
				settings
				</a>
				<a class="item">
				users &amp; groups
				</a>
				<a class="item">
				auto activity
				</a>
				<a class="item">
				stats &amp; performance
				</a>
			</div>
		</div>
		<div class="twelve wide stretched column">
			This is an stretched grid column. This segment will always match the tab height
		</div>
	</div>
</div>