
<div id="admin-backend" class="container" ng-cloak>
	<h4>{{tabSection}}</h4>


	<div class="ui grid">
		<div class="four wide column">
			<div class="ui vertical fluid tabular menu">
				<a class="item" ng-href="#/admin" ng-class="{'active':tabSection == null}">
				overview
				</a>
				<a class="item" ng-href="#/admin/filesources" ng-class="{'active':tabSection == 'filesources'}">
				file sources
				</a>
				<a class="item" ng-href="#/admin/taggers" ng-class="{'active':tabSection == 'taggers'}">
				taggers
				</a>
				<a class="item" ng-href="#/admin/settings" ng-class="{'active':tabSection == 'settings'}">
				settings
				</a>
				<a class="item" ng-href="#/admin/users" ng-class="{'active':tabSection == 'users'}">
				users &amp; groups
				</a>
				<a class="item" ng-href="#/admin/auto" ng-class="{'active':tabSection == 'auto'}">
				auto activity
				</a>
				<a class="item" ng-href="#/admin/stats" ng-class="{'active':tabSection == 'stats'}">
				stats &amp; performance
				</a>
			</div>
		</div>
		<div class="twelve wide stretched column">
			<div ng-show="tabSection == null">overview</div>
			<div ng-show="tabSection == 'filesources'">
				file sources<br/><br/>
				dropbox connected:{{getMDApp().oUser.bDropbox}}<br/>
				<div ng-show="!getMDApp().oUser.bDropbox">
					<a class="button" href="/app/connect/dropbox"><i class="fa fa-dropbox"></i> connect dropbox</a>
				</div>
				<hr/>
				show list of connected sources<br/>
				if dropbox connected, show form to add another dropbox source
			</div>
			<div ng-show="tabSection == 'taggers'">taggers</div>
			<div ng-show="tabSection == 'settings'">settings</div>
			<div ng-show="tabSection == 'users'">users</div>
			<div ng-show="tabSection == 'auto'">auto</div>
			<div ng-show="tabSection == 'stats'">stats</div>
		</div>
	</div>
</div>