
<ul class="nav navbar-nav navbar-right" ng-show="bLoggedIn">
    <li><strong>logged in: [?]</strong></li>
    <li><a ng-click="logout()"><i class="fa fa-sign-out"></i> logout</a></li>
</ul>
<h2>app ui partial</h2>
<div ng-show="getMDApp().state == 'empty'">
    <p>This instance of mediadump doesn't have any register user.. you need to <a ng-href="/#/setup">setup</a> mediadump so it can be used.</p>
</div>

<div id="loading" ng-show="bSomethingLoading"><i class="fa fa-spinner fa-spin"></i> loading</div>