
<div id="login-form" class="container" ng-cloak>
	<div class="ui segment" ng-class="{loading: bLoginLoading}">
		<h3>Login</h3>

		<form ng-submit="login()" class="ui form">

			<div class="ui icon message" ng-show="formFeedback !== ''">
				<i class="icon fa fa-exclamation-circle"></i>
				<div class="content">
					<div class="header">
					Problem Logging in
					</div>
					<p ng-bind-html="formFeedback | sanitize"></p>
				</div>
			</div>

			<!-- form itself -->

			<div class="field">
				<label>Email</label>
				<div class="ui left icon input">
					<input type="text" name="email" placeholder="enter your email" ng-model="login_data.email">
					<i class="fa fa-envelope icon"></i>
				</div>
			</div>

			<div class="field">
				<label>Password</label>
				<div class="ui left icon input">
					<input type="password" name="password" placeholder="enter your password" ng-model="login_data.password">
					<i class="fa fa-key icon"></i>
				</div>
			</div>

			<div class="field">
				<button class="ui basic button right floated" type="submit">
					<i class="fa fa-check icon"></i>
					Login
				</button>
			</div>

		</form>


	</div>
</div>
