
<div id="setup-form" class="container" ng-cloak>
	<div class="ui segment" ng-class="{loading: bSetupLoading}">
		<h3>set up mediadump</h3>

		<form ng-submit="setupMediaDump()" class="ui form" ng-show="getMDApp().state == 'empty'">

			<div class="ui icon message" ng-show="formFeedback !== ''">
				<i class="icon fa fa-exclamation-circle"></i>
				<div class="content">
					<div class="header">
					Problem setting up mediadump
					</div>
					<p ng-bind-html="formFeedback | sanitize"></p>
				</div>
			</div>













			<!-- form itself -->

			<div class="field">
				<label>Name</label>
				<div class="ui left icon input">
					<input type="text" name="name" placeholder="Your name e.g. Sam Thomson" ng-model="setup_user.name" required>
					<i class="fa fa-user icon"></i>
				</div>
			</div>





			<div class="field">
				<label>Email</label>
				<div class="ui left icon input">
					<input type="email" name="email" placeholder="Email" ng-model="setup_user.email">
					<i class="fa fa-envelope icon"></i>
				</div>
			</div>


			<div class="field">
				<label>Password</label>
				<div class="ui left icon input">
					<input type="password" placeholder="Password" name="password" ng-model="setup_user.password">
					<i class="fa fa-key icon"></i>
				</div>
			</div>


			<div class="field">
				<label>Confirm Password</label>
				<div class="ui left icon input">
					<input type="password" placeholder="Re-enter Password" name="password_confirmation" ng-model="setup_user.password_confirmation">
					<i class="fa fa-key icon"></i>
				</div>
			</div>



			<div class="field">
				<button class="ui basic button right floated" type="submit">
					<i class="fa fa-check icon"></i>
					Start mediadump
				</button>
			</div>



		</form>

		<div>

		<div class="ui icon message" ng-show="getMDApp().state !== 'empty'">
			<i class="icon fa fa-exclamation-circle"></i>
			<div class="content">
				<div class="header">
				mediadump is already setup
				</div>
				<p>mediadump has already been setup, you can manage it <a ng-href="/#/admin">here</a>.</p>
			</div>
		</div>
	</div>
</div>