
	<h2>set up regiser form</h2>

	<md-input-container class="md-icon-float md-block">
		<label>Name</label>
		<i class="material-icons">person</i>
		<input ng-model="setup_user.name" type="text"placeholder="Your name e.g. Sam Thomson" ng-required="true">
	</md-input-container>


	<md-input-container class="md-icon-float md-block">
		<label>Email</label>
		<i class="material-icons">email</i>
		<input ng-model="setup_user.email" type="email" placeholder="Email" ng-required="true">
	</md-input-container>


	<md-input-container class="md-icon-float md-block">
		<label>Password</label>
		<i class="material-icons">lock</i>
		<input ng-model="setup_user.password" type="password" placeholder="Password" ng-required="true">
	</md-input-container>

	<md-input-container class="md-icon-float md-block">
		<label>Confirm Password</label>
		<i class="material-icons">lock</i>
		<input ng-model="setup_user.password_confirmation" type="password" placeholder="Re-enter Password" ng-required="true">
	</md-input-container>
