
$zero_pix: 0px;

$padding: 8px;
$margin: 4px;
$ui_breakpoint: 400px;

$media_dump_colour: #e74c3c; /*  */
$media_dump_dark_colour: #c0392b; /*  */
$media_dump_inverse_colour: #ecf0f1; /*  */
$media_dump_inverse_colour: #fff; /*  */
$silver_colour: #bdc3c7; /*  */
$black: #000;
$white: #fff;

/*
$small_thumb_width: 115px;
$small_thumb_height: 115px;
*/

$font_size: larger;

$border_radius: 4px;

$i_nav_width: 340px;
$i_nav_width: 40%;
$i_header_height: 42px;
$i_footer_height: 50px;

$small_icon_size: 125px;

$icon_size: 32px;

/* general */
body{
	font-family: Muli;
	padding: $zero_pix;
	margin: $zero_pix;
	background: none !important;
}

a{color: $media_dump_colour;cursor: pointer;}
a:hover{color: $media_dump_colour;}
a:visited{color: $media_dump_colour;}
a:active{color: $media_dump_colour;}

a img{
	opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
a:hover img{
	opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

/*
bootstrap
*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/*
Functional
*/

/* spinner */
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(359deg);
  }
}
.spin
{
	-webkit-animation-name:             rotate; 
	-webkit-animation-duration:         1s; 
	-webkit-animation-iteration-count:  infinite;
	-webkit-animation-timing-function: linear;
}

/*
Layout
*/
#header{
	padding: $padding;
	padding-left:19px;
}
#main{
	padding: $padding;
}
#nav{
	width: $i_nav_width;
	position:absolute;
	top:$i_header_height + $padding;
	bottom:$i_footer_height;
	z-index: -1;
}
#nav .tab-content{
	padding-top:$padding;
}
#results{
	position: absolute;
	top:$i_header_height + ($padding*2);
	bottom:$i_footer_height;
	left:0px;
	right:0px;
	padding:$padding/2;
	padding-top:0px;
	overflow-y:auto;
	z-index: -1;
}
#pagination{
	position: absolute;
	bottom:0px;
	height: 40px;
	right:0px;
	left:0px;
	padding-right:$padding;
	text-align:center;
}


/*
layout parts
*/
#logo{
	font-size:x-large;

	display: inline;
	float:left;

	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background-color: $media_dump_colour;
    color: $media_dump_inverse_colour;
    padding: $padding;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: $border_radius;
}
#search_input{
	display: inline;
	right: $margin;
	position: absolute;
}
.nav-search-form{
	width: 56%;
}
.nav-search-form div.form-group, .nav-search-input{
	width: 100% !important;
}
#advanced_search{
	position: relative;
	width:100%;
	padding: $padding;
	border: 1px silver solid;
	z-index:-100;
	border-radius: $border_radius;
	padding-top:100px;
	margin-top:-4px;
}
.centred-message{
	font-size: xx-large;
	z-index: 50;
	color:$media_dump_colour;

    width:200px;
    height:50px;
    position:absolute;
    left:50%;
    top:40%;
    margin:-25px 0 0 -100px;	
}
#no-results{
}
#loading{
	display:none;
}

#lightbox{
	z-index:100;
	background:#fff;
	position: absolute;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	display:none;
}

/* lightbox */
#lightbox_contents{
	position: absolute;
	top:($padding);
	bottom:($padding);
	left:($padding);
	right:($padding *6);
}
#lightbox_info_view{
	position: absolute;
	top:($padding * 1);
	bottom:($padding *1);
	right:($padding *6);
	display: none;
	padding-left: $padding;
}

#lightbox.with-info #lightbox_contents{
	right:300 +($padding *6);
	
}
#lightbox.with-info #lightbox_info_view{
	width: 300px;
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
}

#lightbox_contents img{
	width:auto;
	max-width: 100%;
	height:auto;
	max-height: 100%;
	margin:auto;
	display:block;
	position: absolute;
	left: 0;
	right: 0;

	opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
#lightbox #player{
	display:block;
	max-height:100%;
}

#lightbox_info_view img{
	max-width: 100%;
	height: auto;
}

.flowplayer{
	position: static !important;
}

#close_lightbox{top:0px;right:0px;}
#left_lightbox{bottom:42 + ($margin * 2);right:0px;}
#right_lightbox{bottom:0px;right:0px;}
#info_lightbox{top:42 + ($margin * 1);right:2px;font-size:22px;}
.lightbox_button{
	position: absolute;
	padding:$padding;
	font-size: xx-large;
}
.lightbox_button, .lightbox_button:visited, .lightbox_button:focus{
	color: $silver_colour;
}
.lightbox_button:hover, .lightbox_button:active{
	color: $media_dump_colour;
}

/* maps */
/*
.angular-google-map-container {
	height: 500px;
}
*/

#browse{
	position:absolute;
	display:block;
	top:0px; /* tab links */
	bottom:0px;
	left:0px;
	right: ($margin*4);
	padding: $padding;
	overflow-y:auto;
}

#search_map .angular-google-map-container {
	position:absolute;
	display:block;
	top:0px; /* tab links */
	bottom:50px;
	left:0px;
	right: ($margin*4);
	padding: $padding;
}
#map_result_container .angular-google-map-container {
	position:absolute;
	display:block;
	top:0;
	bottom:0px;
	left:0px;
	right:0px;
	padding: $padding;
}
.tree_link{
	font-size: large;
	display: inline-block;
	float: none !important;
	vertical-align: top;
}
.tree_link .tree_image_container{
	margin-top: $margin*2;
}
.tree_link img{
	max-width:100%;
	height: auto;
	max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
.tree_link_title{
	margin-bottom:$margin;
	width: 100%;
	text-align: center;
	display: block;
	font-size: 1em;
	margin: 1.5em 0 1.5em;
	color: $black;
	text-transform:capitalize;
	font-weight:600;
}
a.tree_link:hover{
	text-decoration: none;
}
.tree_link:hover{
	cursor: pointer;
}
.refine_filters{
	max-height:140px;
	overflow-y:auto;
}
.refine_filters
.btn-group.operator_toggle{
	width:100%;
}
/*
styling
*/
html {
	/*
	background: url(/images/default_background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	*/
}
img{
}
#header{
	background-color: $media_dump_inverse_colour;
}
.bottom-shadow {
	box-shadow: 0 0px 8px -2px  rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0 0px 8px -2px  rgba(50, 50, 50, 0.75);
	-webkit-box-shadow: 0 0px 8px -2px  rgba(50, 50, 50, 0.75);
}
.btn,.form-control{
	font-size:large;
	height:auto;
}
.btn:focus{
	outline:none !important;
}
.btn.active{
	background: $media_dump_colour;
	color: $media_dump_inverse_colour;
	border-color: $media_dump_colour !important;
	box-shadow:none !important;
	-webkit-box-shadow:none !important;
}
.btn.advanced_showing{
	background: $media_dump_dark_colour;
	color: $media_dump_inverse_colour;
}
.btn-media-dump:hover,.btn-media-dump:active,.btn-media-dump:visited,{
	color: $media_dump_inverse_colour;
}
#search_text_input{
}
textarea:focus, input[type]:focus, .uneditable-input:focus {   
	border-color: $media_dump_colour;
	box-shadow:none !important;
	outline: 0 none;
}

.nav-pills li a{
	padding-left:0px !important;
	padding-right:0px !important;
	margin-right: $margin;
	border-radius:0px;
}
.nav-pills li.active a{
	background-color:#fff !important;
	color: $media_dump_colour !important;
	border-bottom: 2px solid $media_dump_colour;
}
.nav-pills li:hover a{
	background:#fff;
	border-bottom:2px solid $media_dump_colour;
}

select.form-control{
	width: auto;
	display: inline;
}
.light_opacity{
	background: #fff;
	
	opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

#thumb_results{
	overflow-y:auto;
}

.justify-row{
	margin-bottom: $margin;
	overflow: hidden;
}
#thumb_results a{	
	display: inline-block;
	height: 100%;
	float: left;
}
.justify-thumbnail{
	height: 100%;
	width: auto;
}

#thumb_results img{	
	margin-right:$margin;
	margin-bottom:$margin/2;
	height:100%;
}
#thumb_results .map-thumbnail img{	
	display: block;
	/*
	width:$small_icon_size + $margin;
	height:$small_icon_size + ($margin / 2);
	*/
	width:$small_icon_size;
	height:$small_icon_size;
}

a.filter{
	display:inline-block;
	padding:$padding/2;
	margin-right:$margin;
	margin-bottom:$margin;
	border: 1px solid $media_dump_colour;
	border-radius: $border_radius;
}
a.filter:hover{
	text-decoration:none;
	background:$media_dump_colour;
	color:$media_dump_inverse_colour;
}
nav.navbar{
	z-index: 100;
	min-height: 0px !important;
	background: none;
}
nav.navbar button{
	border-color: $media_dump_colour !important;
	margin: 0px;
	margin-right: $margin !important;
}
nav.navbar button span.icon-bar{
	background: $media_dump_colour !important;
}
.navbar-default{
	border: none !important;
	margin-bottom:0px !important;
}
.navbar-brand, .navbar-brand{
	padding: $padding;
	height: auto;
	border: 1px solid $media_dump_colour !important;
	color: $media_dump_colour !important;
	border-radius: $border_radius;
	/*letter-spacing:1.2px;*/
}
a.navbar-brand:hover{
	background-color: $media_dump_colour !important;
	color: $white !important;
}
.navbar-form{
	margin: 0px;
}
#toggle_advanced_search_form{
	z-index:400;
}
ul.nav li{padding: $padding; padding-bottom: 0px; margin-left: ($margin * 4);}
ul.nav li a{color: $media_dump_colour !important;padding:0px;}
ul.nav li a.active{border-bottom: 2px solid $media_dump_colour;}

.navbar-brand{
	padding: 7px;
}
/*
.flowplayer .fp-mute{background: url('s.png') no-repeat top left;  background-position: -585px 0px; width: 24px; height: 18px;} */
/*
.flowplayer.is-ready.is-muted .fp-mute{background: url('s.png') no-repeat top left;  background-position: -556px 0px; width: 24px; height: 18px;}  

.flowplayer .fp-embed{background: url('s.png') no-repeat top left; background-position: -1079px 0px; width: 24px; height: 18px;} 
.flowplayer .fp-fullscreen{background: url('s.png') no-repeat top left;  background-position: -29px 0px; width: 24px; height: 24px;} 
.flowplayer.is-fullscreen .fp-fullscreen{background: url('s.png') no-repeat top left;  background-position: 0px 0px; width: 24px; height: 24px;} */


.search-tag{
	background: $media_dump_colour;
	border-radius: 4px;
	padding-left:4px;
	font-size:16px;
	margin: 5px !important;
	padding:4px !important;
}
.bootstrap-tagsinput{
	width:100%;
    height: 34px;
    padding: 5px 6px !important;
}
.bootstrap-tags .tag.md{
	font-size: 18px;
}
.bootstrap-tags .tags-input{
	height:2em;
}

.less-confident{
	opacity: 0.85 !important;
	filter: alpha(opacity=85) !important; /* For IE8 and earlier */
}
.least-confident{
	opacity: 0.75 !important;
	filter: alpha(opacity=75) !important; /* For IE8 and earlier */
}

.tt-input, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
    width: 396px;
    padding: 5px 12px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-input { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 422px;
    margin-top: 4px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);

    margin-left: -8px;
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
	background-color: $media_dump_colour;
	color: $media_dump_inverse_colour;
	cursor:pointer;
}

.tt-suggestion p {
    margin: 0;
}
.tt-highlight{
	font-weight: bold;
}
.bootstrap-tagsinput{
	margin-bottom: 0px !important;
}
.bootstrap-tagsinput{
	margin-bottom: 0px !important;
	padding: 2px;
}
.bootstrap-tags .tags-input{
	width: 100% !important;
	box-sizing:border-box;
}

#autocomplete{
	position: absolute;
	display: block;
	height: auto;
	max-height: 256px;
	overflow-y: auto;
	width: 500px;
	background-color: $media_dump_inverse_colour;
	margin-top: $padding/2;
}
.auto-suggestion{
	display:relative;
	display: block;
	border-bottom: 1px solid $media_dump_colour;
	padding: $padding;
	font-size: x-large;
}
.auto-suggestion img{
	display: inline-block;
	width: $icon_size;
	height: $icon_size;
}
.auto-suggestion:last{
	border-bottom-color:#fff;
}
.auto-suggestion img{
	margin-right: $padding*2;
}


#map-canvas {
	position: absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:12px;
}

.left_position{
}

.right_position{
}
#search-input input{
	/*padding-left: 6px !important;*/
}

#search-input .label{
	font-weight: normal !important;
}

#lightbox_info_view a{
	display: inline-block;
	margin-right: $margin/2;
	margin-bottom: $margin/2;
}

/*
tags - flat ui colours
*/
#lightbox_info_view .label{
	border-width: 1px;
	border-style: solid;
	color: $silver_colour !important;
}
.filetype{
	border-color: #1abc9c;
}
.mediatype{
	border-color:#7f8c8d ;
}
.filename{
	border-color: #e67e22;
}
.folder{
	border-color: #f39c12;
}
.unique-directory-path{
	border-color: #8e44ad;
}
.exif{
	border-color: #2c3e50;
}

.imagga{
	border-color: #16a085;
}

.elevation{
	border-color: #2980b9;
}
.place{
	border-color: #e67e22;
}

.tag{
	border-color: #e74c3c;
}

#map-canvas img
{
}

#pagination a i{
	top:4px;
}

a.pagination_button{
	background: $media_dump_inverse_colour;
	color: $media_dump_colour;
	border-color: $media_dump_colour !important;
}
a.pagination_button:hover, a.pagination_button:active, #pagination.bottom a.pagination_button{
	background-color: $media_dump_colour;
	color: $media_dump_inverse_colour;
}