/*
$small_thumb_width: 115px;
$small_thumb_height: 115px;
*/
/* general */
body {
  font-family: Muli;
  padding: 0px;
  margin: 0px;
  background: none !important; }

a {
  color: #e74c3c;
  cursor: pointer; }

a:hover {
  color: #e74c3c; }

a:visited {
  color: #e74c3c; }

a:active {
  color: #e74c3c; }

a img {
  opacity: 1.0;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */ }

a:hover img {
  opacity: 0.8;
  filter: alpha(opacity=80);
  /* For IE8 and earlier */ }

/*
bootstrap
*/
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/*
Functional
*/
/* spinner */
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(359deg); } }
.spin {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; }

/*
Layout
*/
#header {
  padding: 8px; }

#main {
  padding: 8px; }

#nav {
  width: 40%;
  position: absolute;
  top: 50px;
  bottom: 50px;
  z-index: -1; }

#nav .tab-content {
  padding-top: 8px; }

#results {
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 0px;
  right: 0px;
  padding: 4px;
  padding-top: 0px;
  overflow-y: auto;
  z-index: -1; }

#pagination {
  position: absolute;
  bottom: 0px;
  height: 40px;
  right: 0px;
  left: 0px;
  padding-right: 8px; }

/*
layout parts
*/
#logo {
  font-size: x-large;
  display: inline;
  float: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background-color: #e74c3c;
  color: white;
  padding: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 4px; }

#search_input {
  display: inline;
  right: 4px;
  position: absolute; }

.nav-search-form {
  width: 50%; }

.nav-search-form div.form-group, .nav-search-input {
  width: 100% !important; }

#advanced_search {
  position: relative;
  width: 100%;
  padding: 8px;
  border: 1px silver solid;
  z-index: -100;
  border-radius: 4px;
  padding-top: 100px;
  margin-top: -4px; }

#loading {
  font-size: xx-large;
  z-index: 50;
  color: #e74c3c;
  display: none;
  width: 200px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 40%;
  margin: -25px 0 0 -100px; }

#lightbox {
  z-index: 100;
  background: #fff;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: none; }

/* lightbox */
#lightbox_contents {
  position: absolute;
  top: 32px;
  bottom: 32px;
  left: 32px;
  right: 32px; }

#lightbox img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin: auto;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 1.0;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */ }

#lightbox #player {
  display: block;
  max-height: 100%; }

.flowplayer {
  position: static !important; }

#close_lightbox {
  top: 0px;
  right: 0px; }

#left_lightbox {
  bottom: 0px;
  left: 0px; }

#right_lightbox {
  bottom: 0px;
  right: 0px; }

.lightbox_button {
  position: absolute;
  padding: 10px;
  font-size: xx-large; }

/* maps */
/*
.angular-google-map-container {
	height: 500px;
}
*/
#browse {
  position: absolute;
  display: block;
  top: 0px;
  /* tab links */
  bottom: 0px;
  left: 0px;
  right: 16px;
  padding: 8px;
  overflow-y: auto; }

#search_map .angular-google-map-container {
  position: absolute;
  display: block;
  top: 0px;
  /* tab links */
  bottom: 50px;
  left: 0px;
  right: 16px;
  padding: 8px; }

#map_result_container .angular-google-map-container {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 8px; }

.tree_link {
  font-size: large;
  display: inline-block; }

.tree_link .tree_image_container {
  margin-top: 8px; }

.tree_link img {
  max-width: 100%;
  height: auto;
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); }

.tree_link_title {
  margin-bottom: 4px;
  width: 100%;
  text-align: center;
  display: block;
  font-size: 1em;
  margin: 1.5em 0 1.5em;
  color: black;
  text-transform: capitalize;
  font-weight: 600; }

.tree_link:hover {
  cursor: pointer; }

.refine_filters {
  max-height: 140px;
  overflow-y: auto; }

.refine_filters
.btn-group.operator_toggle {
  width: 100%; }

/*
styling
*/
html {
  /*
  background: url(/images/default_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  */ }

#header {
  background-color: white; }

.btn, .form-control {
  font-size: large;
  height: auto; }

.btn:focus {
  outline: none !important; }

.btn.active {
  background: #e74c3c;
  color: white;
  border-color: #e74c3c !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important; }

.btn.advanced_showing {
  background: #c0392b;
  color: white; }

.btn-media-dump:hover, .btn-media-dump:active, .btn-media-dump:visited {
  color: white; }

textarea:focus, input[type]:focus, .uneditable-input:focus {
  border-color: #e74c3c;
  box-shadow: none !important;
  outline: 0 none; }

.nav-pills li a {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-right: 4px;
  border-radius: 0px; }

.nav-pills li.active a {
  background-color: #fff !important;
  color: #e74c3c !important;
  border-bottom: 2px solid #e74c3c; }

.nav-pills li:hover a {
  background: #fff;
  border-bottom: 2px solid #e74c3c; }

select.form-control {
  width: auto;
  display: inline; }

.light_opacity {
  background: #fff;
  opacity: 0.9;
  filter: alpha(opacity=90);
  /* For IE8 and earlier */ }

#thumb_results {
  overflow-y: auto; }

#thumb_results a {
  display: inline-block;
  float: left; }

#thumb_results img {
  margin-right: 4px;
  margin-bottom: 2px;
  width: 125px;
  height: 125px; }

a.filter {
  display: inline-block;
  padding: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  border: 1px solid #e74c3c;
  border-radius: 4px; }

a.filter:hover {
  text-decoration: none;
  background: #e74c3c;
  color: white; }

nav.navbar {
  z-index: 100;
  min-height: 0px !important;
  background: none; }

nav.navbar button {
  border-color: #e74c3c !important;
  margin: 0px;
  margin-right: 4px !important; }

nav.navbar button span.icon-bar {
  background: #e74c3c !important; }

.navbar-default {
  border: none !important;
  margin-bottom: 0px !important; }

.navbar-brand, .navbar-brand {
  padding: 8px;
  height: auto;
  background-color: #e74c3c !important;
  color: white !important;
  border-radius: 4px;
  letter-spacing: 1.2px; }

.navbar-form {
  margin: 0px; }

#toggle_advanced_search_form {
  z-index: 400; }

ul.nav li {
  padding: 8px;
  padding-bottom: 0px;
  margin-left: 16px; }

ul.nav li a {
  color: #e74c3c;
  padding: 0px; }

ul.nav li a.active {
  border-bottom: 2px solid #e74c3c; }

.navbar-brand {
  padding: 7px; }

/*
.flowplayer .fp-mute{background: url('s.png') no-repeat top left;  background-position: -585px 0px; width: 24px; height: 18px;} */
/*
.flowplayer.is-ready.is-muted .fp-mute{background: url('s.png') no-repeat top left;  background-position: -556px 0px; width: 24px; height: 18px;}  

.flowplayer .fp-embed{background: url('s.png') no-repeat top left; background-position: -1079px 0px; width: 24px; height: 18px;} 
.flowplayer .fp-fullscreen{background: url('s.png') no-repeat top left;  background-position: -29px 0px; width: 24px; height: 24px;} 
.flowplayer.is-fullscreen .fp-fullscreen{background: url('s.png') no-repeat top left;  background-position: 0px 0px; width: 24px; height: 24px;} */
.search-tag {
  background: #e74c3c;
  border-radius: 4px;
  padding: 2px;
  padding-left: 4px;
  font-size: 16px;
  margin-top: 5px; }

.bootstrap-tagsinput {
  width: 100%;
  height: 34px;
  padding: 5px 6px !important; }

.tt-input,
.tt-hint {
  width: 396px;
  padding: 5px 12px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none; }

.tt-input {
  /* UPDATE: newer versions use tt-input instead of tt-query */
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.tt-hint {
  color: #999999; }

.tt-dropdown-menu {
  width: 422px;
  margin-top: 4px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-left: -8px; }

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px; }

.tt-suggestion.tt-cursor {
  background-color: #e74c3c;
  color: white;
  cursor: pointer; }

.tt-suggestion p {
  margin: 0; }

.bootstrap-tagsinput {
  margin-bottom: 0px !important; }

.bootstrap-tagsinput {
  margin-bottom: 0px !important;
  padding: 2px; }

#map-canvas {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px; }
