// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


/*
google materialise based color palette

https://www.google.com/design/spec/style/color.html#color-color-palette
*/
// backgorund color, to be set for many components to keep them 'blended in' with app
$c_background_color: #fff;

$c_primary_darker: #D32F2F; // red, 300
$c_primary_normal: #F44336; // red normal, 500
$c_primary_lighter: #E57373; // red, 700

$i_padding: 8px;


body {
  font-family: 'Noto Sans', sans-serif;
}
.header-font{
	font-family: 'PT Sans Caption', sans-serif;
}

#header{
	padding-top:(5px + $i_padding); // to counter the loading bar
}

#setup-form{}

#app-load-state{position: absolute;}
#app-load-state .md-container{background:$c_background_color;}
#app-load-state .md-bar{background:$c_primary_normal;}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}